.contact_form {
  input, textarea {
    display: block;
    width: 100%;
    max-width: 100%;
    appearance: none;
    border: none;
    background: darken($color-white, 10%);
    padding: .5em 1em;
    &:focus {
      outline: none;
      background: $color-accent;
    }
  }
}

.contact_form-errors {
  color: #e74c3c;
  form.success & {
    display: none;
  }
}

.contact_form-sent {
  display: none;
  font-size: 2em;
  color: #2ecc71;
  form.success & {
    display: block;
  }
}

.contact_form-group {
  margin-bottom: 1em;
}

.contact_form label {
  font-weight: 600;
  font-family: $font-headings;
  text-transform: uppercase;
  display: block;
}

.contact_form textarea {
  height: 10em;
}

.contact_form-submit {
  font-family: $font-headings;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.5em;
  appearance: none;
  background: none;
  padding: .3em .6em;
  border: .3em solid $color-accent;
  transition: .3s;
  &:hover {
    background: $color-accent;
  }
  &:focus {
    outline: none;
  }
  form.success & {
    color: $color-white;
    background: #2ecc71;
    border-color: #2ecc71;
  }
}
