.page {
}

.page-hero {
  background-size: cover;
  background-position: center;
  padding: 1em;
  position: relative;
  &:after {
    z-index: 0;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba($color-black, .7), transparent 30%);
  }
}

.page-hero-title {
  color: $color-white;
  font-weight: 800;
  position: relative;
  z-index: 1;
  font-size: 3em;
  margin: 2em 0 0 0;
  @media #{$b-small} {
    margin-top: 3em;
  }
  @media #{$b-medium} {
    margin-top: 4em;
  }
  @media #{$b-large} {
    margin-top: 5em;
  }
}
