.recent_work {
}

.recent_work-article {
  width: 100%;
  padding: .3em;
  @media #{$b-small} {
    width: 50%;
  }
  @media #{$b-medium} {
    // width: 33%;
  }
  @media #{$b-large} {
    width: 25%;
  }

}

.recent_work-permalink {
  display: block;
  position: relative;
  background: transparent;
}

.recent_work-image {
  display: block;
  width: 100%;
  &:hover + .recent_work-meta {
    opacity: 1;
  }
}

.recent_work-meta {
  background: rgba($color-accent, .8);
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s;
  div {
    padding: .2em;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translate3d(0, -50%, 0);
    h2 {
      margin-bottom: 0;
    }
    p {
      font-family: $font-headings;
      text-transform: uppercase;
      font-style: italic; 
      color: rgba($color-black, .5);
      margin: 0;
    }
  }
}
