.work {
  margin: 2em 0;
}

.work_title {
  text-align: center;
  margin-bottom: 0;
}

.work-filter {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: center;
  list-style: none;
}

.work-filter_item {
  font-family: $font-headings;
  text-transform: uppercase;
  padding: 0 1em;
  a {
    background: none;
    display: block;
    padding: .3em .6em;
    border: .2em solid transparent;
    &:hover {
      border: .2em solid $color-accent;
    }
  }
  &.active a {
    border: .2em solid $color-accent;
    font-weight: 600;
  }
}

.work-article {
  @extend .recent_work-article;
  @media #{$b-medium} {
    width: 33%;
  }
  @media #{$b-large} {
    width: 25%;
  }
}

.work-permalink {
  @extend .recent_work-permalink;
}

.work-image {
  @extend .recent_work-image;
  filter: grayscale(1);
  transition: filter .3s;
  .work-article:hover & {
    filter: grayscale(0);
  }
}

.work-meta {
  @extend .recent_work-meta;
}

.work-pagination {
  display: flex;
  padding: .5em;
  margin-top: 2em;
  width: 100%;
  justify-content: space-between;
}

.work-pagination_button {
  a {
    background: none;
    border: .3em solid $color-accent;
    display: block;
    padding: .4em;
    font-weight: 600;
    border-radius: 100em;
    font-family: $font-headings;
    text-transform: uppercase;  
    transition: background .3s;
    &:hover {
      background: $color-accent;
    }
    @media #{$b-small} {
      font-weight: 800;
      padding: 1em;
      border-width: .5em;
    }
  }
  &.left {
    float: left;
  }
  &.right {
    float: right;
  }
}
